@import url(http://weloveiconfonts.com/api/?family=zocial);

[class*="zocial-"]:before {
font-family: "zocial", sans-serif;
}
#social ul {
list-style: none;
margin: 0;
padding: 0;
}
#social {
left: 0;
position: fixed;
bottom: 0;
}
#social a {
text-decoration: none;
background: #333;
color: #fff;
display: block;
height: 35px;
font: 16px "Open Sans", sans-serif;
line-height: 35px;
position: relative;
text-align: center;
width: 35px;
border: 2px solid transparent;
border-radius: 50px;
}
#social a span {
line-height: 35px;
left: -120px;
position: absolute;
text-align: center;
width: 120px;
color: white;
}
#social a:hover span {
left: 100%;
transition: .5s;
z-index: -1;
}
#social a[class*="facebook"],
#social a[class*="facebook"]:hover { background: #3b5998; }

#social a[class*="facebook"] span { background: transparent; }

#social a[class*="twitter"],
#social a[class*="twitter"]:hover { background: #00aced; }

#social a[class*="twitter"] span { background: transparent; }

#social a[class*="instagram"],
#social a[class*="instagram"]:hover { background: #ff4500; }

#social a[class*="instagram"] span { background: transparent; }

#social a[class*="github"],
#social a[class*="github"]:hover { background: #000000; }

#social a[class*="github"] span { background: transparent; }


span#anything {
	color: green;
	line-height: 50px;
}

.space-on-top {
	margin-top: 50px;
	background-color: blue;
	width: 30px;
	margin: 0 auto;
}


#box {
     margin-top: 300px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50px;
    background-color: white;
    border: solid;
    width: 50%;
    height: 300px;
    z-index: 999;
    text-align: center;
}
#box ul {
    list-style: none;
    display: block;
    margin-right: 35px;
}
.new {
	position: absolute;
	left: 0
	right:0
	top: 0
	bottom: 0
	margin: auto;
}

span {
	color: red;
}


.event {
	list-style-type: none;
}

#event {
	color: white;
	padding: 10px;
	margin-bottom: 6px;
}


#Background {
background-image: url('MG_0072.JPG');
background-repeat: no-repeat;
background-position: top;
background-size: 1450px 750px;
}

#sweg {
    border: solid;
    border-radius: 100px;
    padding-right: -10px;
    cursor: pointer;
}

#right {
	float: right;
	background-color: white;
	color: black;
	font-weight: bold;
	padding: 9px 10px;
	border: double;
}

.link {
	text-decoration: none;
	color: black;
}

.link:hover {
	text-decoration: underline;
}

.left {
	float: left;
	padding: 9px 15px;
	background-color: white;
	margin-left: auto;
	font-weight: bold;
	border: double;
	color: black;
	margin-right: 15px;
}

#about {
	float: left;
	padding: 9px 15px;
	background-color: white;
	color: black;
	font-weight: bold;
	border: double;
}

#nave {
	width: 100%;
	height: 40px;
	top: 0;
	margin-top: 15px;
}


#menu {
    width: 100%;
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;  
    background-color: transparent;
}

#menu li {
    float: left;
    padding: 0 0 10px 0;
    position: relative;
}

#menu a {
    float: left;
    height: 25px;
    padding: 0 25px;
    color: white;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
    color: black;
}

*html #menu li a:hover { /* IE6 */
    color: black;
}

#menu li:hover > ul {
    display: block;
}

/* Sub-menu */
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background-color: black;   
   
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    box-shadow: 0 1px 0 #111111, 
                0 2px 0 #777777;
}

#menu ul li:last-child { 
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a { /* IE6 */   
    height: 10px;
    width: 150px;
}

*:first-child+html #menu ul a { /* IE7 */    
    height: 10px;
    width: 150px;
}

#menu ul a:hover {
    background-color: white;
}

#menu ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: white; 
}

#menu ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu             { zoom: 1; } 
*:first-child+html #menu }

